/*Responsive design */

/* body{
    max-width: 1280px;
    margin: 0 auto;
} */

@media screen and (max-width:576px) {
    /* navbar starts */
    .mobile_tog{
        display: none;
    }
    .navbar{
        justify-content: space-around;
    }
    .hamburger{
        display: block;
    }
    .hamburger > div{
        display: block;
    }
    .navbar>ul li img{
        width: 70%;
    }
    /* navbar ends */
    
    /* highlight section */
    .highlight_section{
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
        gap: 2rem;
    }
    .high_box2 img{
        width: 100%;
    }
    .high_box1{
        text-align: center;
        padding: 0;
        width: 90vw;
    }
    .high_box1 p{
        padding: 0;
    }
    .btn{
        width: 50vw;
        height: 10vh;
        font-size: 1.5rem;
    }
    .sponsors{
        border-top: 0;
        border-bottom: 0;
    }

    /* collection section */
    .item_parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0;
        place-items: center;
    }
    .popular_collection h1{
        margin-bottom: 2rem;
    }
    /* .btn_see_more{
        width: fit-content;
        height: fit-content;
        margin-top: 1rem;
        right: 4.4rem;
        font-size: 16px;
    } */
    .btn_see_more{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 6vh;
        margin: 1rem auto;
    }
}

/* medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
    /* navbar starts */
    .navbar{
        flex-direction: column;
        gap: 1rem;
    }
    .navbar>ul {
        gap: 3rem;
    }
    .navbar>ul li img {
        width: 4vw;
    }
    /* navbar ends */
    /* highlight section */
    .highlight_section{
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
        gap: 2rem;
    }
    .high_box2 img{
        width: 100%;
    }
    .high_box1{
        text-align: center;
        padding: 0;
        width: 90vw;
    }
    .high_box1 p{
        padding: 0 5rem;
    }
    .btn{
        width: 50vw;
        height: 10vh;
        font-size: 1.5rem;
    }
    /* collection section */
    .item_parent{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        padding: 0;
        place-items: center;
    }
    .popular_collection h1{
        margin-bottom: 2rem;
    }
    .btn_see_more{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
        height: 6vh;
        margin: 1rem auto;
    }
}