@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: #E02C6D;
    height: 6vh;
    border: 0;
    width: 12vw;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.para_primary{
    color: #3A3A3A;
    font-weight: 700;
    font-size: small;
}

/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2rem 3rem;
    align-items: center;
    color: #3A3A3A;
}
.navbar h3, h1{
    color: #3A3A3A;
    font-weight: 700;
}

.navbar>ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar>ul li{
    list-style: none;
    cursor: pointer;
}
.navbar>ul li img{
    width: 2vw;
}
.hamburger{
    display: none;
}
.hamburger > div{
    width: 1.2rem;
    border: 1px solid black;
    margin: 4px;
    display: none;
}

.highlight_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;

}
.high_box{
    width: fit-content;
    height: fit-content;
}
.high_box1{
    height: fit-content;
}
.high_box1 p{
    padding-right:10rem;
}
.high_box1 h1,p,button{
    margin-bottom: 1rem;
}
.high_box2{
    background-image: url('../images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* sponsors section */
.sponsors{
    height: fit-content;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 2rem;
    /* box-shadow: 1px 1px 3px black; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sponsor_box{
    width: fit-content ;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor_box img{
    width: 70%;
}

/* popular collection section */
.popular_collection{
    margin-top: 4rem;
    height: fit-content;
}
.popular_collection h1{
    text-align: center;
    font-weight: 800;
    color: #3A3A3A;
}

.item_parent{
    display: grid;
    grid-template-columns: repeat(3,25vw);
    grid-template-rows: repeat(3,75vh);
    gap: 1.5rem;
    place-content: center;
    padding: 2rem;
}
.items{
    background-color: white;
    color: #3A3A3A;
    padding: 0.6rem;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 1px 1px 5px -1px black;
}
.items p{
    font-size: small;
    line-height: 5px;
}
.items span{
    font-size: small;
}
.items h2{
    margin-bottom: 5px;
}
.items img{
    width: 100%;
}
.stars{
    display: inline-block;
    margin: 10px 0;
}