@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: #E02C6D;
    height: 6vh;
    border: 0;
    width: 12vw;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.para_primary{
    color: #3A3A3A;
    font-weight: 700;
    font-size: small;
}

/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2rem 3rem;
    align-items: center;
    color: #3A3A3A;
}
.navbar h3, h1{
    color: #3A3A3A;
    font-weight: 700;
}

.navbar>ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar>ul li{
    list-style: none;
    cursor: pointer;
}
.navbar>ul li img{
    width: 2vw;
}
.hamburger{
    display: none;
}
.hamburger > div{
    width: 1.2rem;
    border: 1px solid black;
    margin: 4px;
    display: none;
}

.highlight_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;

}
.high_box{
    width: fit-content;
    height: fit-content;
}
.high_box1{
    height: fit-content;
}
.high_box1 p{
    padding-right:10rem;
}
.high_box1 h1,p,button{
    margin-bottom: 1rem;
}
.high_box2{
    background-image: url('../images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
}